html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #DFF0D8;
}
.footer .container-wrap {
  position: relative;
  width: 100%;
}
.footer .container {
  margin-top: 0px;
  text-align: center;
}
.footer .container a {
  font-size: 12px;
  margin: auto;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #6ea554;
}

.container {
  margin-top: 20px;
}
.panel, .panel-success {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
}
.panel:hover {
  -webkit-box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.1);
}
.note {
  background-color: #fff;
}
.panel-heading {
  padding: 0;
}
.panel-body {
  font-family: 'Anonymous Pro';
  word-wrap: break-word;
}
.btn-edit {
  border-color: #DFF0D8;
  border-right: 1px;
  margin-right: 1px;
}
.btn-edit, .btn-delete {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  color: #91bc7e;
}
.btn-edit:hover, .btn-delete:hover {
  background-color: transparent;
  color: #6ea554;
}
button {
  font-family: 'Anonymous Pro';
}
.btn {
  margin-top: 10px;
  margin-left: 10px;
  padding: 3px 5px;
}
#new-note-text {
  resize: none;
  font-family: 'Anonymous Pro';
}
.edit-area {
  resize: none;
  overflow: auto;
  padding: 5px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
